{% extends "base.html" %} {% block title %}Saved{% endblock %} {% block content
    %}

<h1 align="center">Posts</h1>
<ul class="list-group list-group-flush" id="posts">
    {% for post in posts %}        
        {% if post.category %}
        <li><b>{{ post.title }}</b> ({{post.category}}) <button type="button" class="btn btn-danger btn-sm" onClick="deletePost({{ post.id }})">Delete</button></li>
        {{ post.text }}
        {% else %}
        <li><b>{{ post.title }}</b> <button type="button" class="btn btn-danger btn-sm" onClick="deletePost({{ post.id }})">Delete</button> </li>
        {{ post.text }}
        {% endif %}
        <br>
        
    {% endfor %}
</ul>
{% endblock %}