{% extends "base.html" %} {% block title %}Saved{% endblock %} {% block content
    %}

<h1 align="center">Posts</h1>
    {% for cat_dict in posts %}
    <H2>{{cat_dict.category}}</H2>
    <ul class="list-group list-group-flush" id="posts">
        {% for post in cat_dict.posts %}
        <li><b>{{ post.title }}</b> ID: {{ post.id }}
            <form method="post" action="/delete_post/{{ post.id }}">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
        {{ post.text }}
        <br>
        {% endfor %}
    </ul>
    <br>
    <br>
    {% endfor %}


{% endblock %}